@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

html {
	scrollbar-width: thin;
}

@theme inline {
	--color-accent: oklch(0.7289 0.2119 147.82);
	--font-poppins: var(--font-poppins);
	--font-dm-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.highlight {
	background: linear-gradient(to right, #05df72, #00c950);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}
